/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* light gray background */
  color: #212529; /* black text */
}

.container {
  margin: 40px;
}

.ql-editor {
  background-color: #fff; /* white editor background */
  border: 1px solid #ced4da; /* light gray border */
  border-radius: 5px;
  min-height: 100vh; /* Set the min-height to your desired default height */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds max-height */
  padding: 10px;
}

.ql-toolbar {
  background-color: #e9ecef; /* light gray toolbar background */
  border: 1px solid #ced4da; /* light gray border */
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.ql-toolbar button {
  background-color: #fff; /* white button background */
  border: 1px solid #ced4da; /* light gray border */
  border-radius: 3px;
  color: #495057; /* dark gray text */
  cursor: pointer;
  margin: 2px;
  padding: 5px 10px;
}

.ql-toolbar button:hover {
  background-color: #f8f9fa; /* light gray background on hover */
}
